body{
	overflow-x: hidden;
}

.main1{
	font-family:"spl";
	font-size:24px;
	letter-spacing: 2px;
	padding-top:30px;
	color:rgb(45,47,67);
	margin:10px;
}

.main2 {
	background-color:White;
	margin:5%;
	margin-top:3%;
	margin-right:10%;
	margin-left:10%;
	padding-top:20px;
	font-family:"pnl";
	font-size:14pt;
	letter-spacing:1pt;
	line-height:1.4em;
}

.logopic {
	height:300px;
	margin-left:70px;
	display:inline-block;
}

.left {
    width: 45%;
    display: inline-block;
	margin-bottom:30px;
}

.right {
	width: 45%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    top: -30px;
    left: 50px;

}

.heading{
	text-align:center;
	font-family:"ail";
	font-size:50px;
	letter-spacing:1px;
	padding-top:30px;
	color:Rgb(45,47,67);
	margin-bottom:10px;
}

.btn {
  color: #fff;
  padding: 15px;
  background: Rgba(45,47,67,1);
  width: 200px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "spl";
  font-weight: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  display:inline;
  text-decoration:none;
}


.date {
	height:50px;
	font-size:20px;
	width:200px;
	background-color: Rgba(45,47,67,1);
	color:#F5F3EE;
	border-radius: 5px;
	text-align:center;
	padding:10px;
	padding-bottom:0;
	margin:30px;
	margin-top:10px;
}

.line {
	height: 3px;
	width: 70%;
	background: #ccc;
	display: block;
	line-height: 1.4em;
	margin-top:10px;
	margin-bottom:50px;
}

a {
	text-decoration:none;
}

@media only screen and (max-width: 900px) {

.left {
	display: none !important;

}

.right {
    width: 100%;
    vertical-align: top;
    position: relative;
    text-align: center;
    left: initial;
}

.btn {
	margin-top: 10px;
	display:block;
}

}
